In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Define directory path for files to keep from retyping every time
file_dir = 'C://Users/kathy/Documents/Data_Analytics/Tennis_Analysis/'

In [3]:
# Read in data file containing match data for specified year
tennis_stats_98_df = pd.read_csv(f'{file_dir}atp_matches_1998.csv', low_memory=False)
tennis_stats_99_df = pd.read_csv(f'{file_dir}atp_matches_1999.csv', low_memory=False)
tennis_stats_00_df = pd.read_csv(f'{file_dir}atp_matches_2000.csv', low_memory=False)

In [4]:
# Concatenate 98, 99, and 00 files into one dataframe
tennis_stats_df = pd.concat([tennis_stats_98_df, tennis_stats_99_df, tennis_stats_00_df])

In [5]:
# Display list of column names sorted
sorted(tennis_stats_df.columns.tolist())

['best_of',
 'draw_size',
 'l_1stIn',
 'l_1stWon',
 'l_2ndWon',
 'l_SvGms',
 'l_ace',
 'l_bpFaced',
 'l_bpSaved',
 'l_df',
 'l_svpt',
 'loser_age',
 'loser_entry',
 'loser_hand',
 'loser_ht',
 'loser_id',
 'loser_ioc',
 'loser_name',
 'loser_rank',
 'loser_rank_points',
 'loser_seed',
 'match_num',
 'minutes',
 'round',
 'score',
 'surface',
 'tourney_date',
 'tourney_id',
 'tourney_level',
 'tourney_name',
 'w_1stIn',
 'w_1stWon',
 'w_2ndWon',
 'w_SvGms',
 'w_ace',
 'w_bpFaced',
 'w_bpSaved',
 'w_df',
 'w_svpt',
 'winner_age',
 'winner_entry',
 'winner_hand',
 'winner_ht',
 'winner_id',
 'winner_ioc',
 'winner_name',
 'winner_rank',
 'winner_rank_points',
 'winner_seed']

In [6]:
# Remove unnecessary columns
tennis_stats_df.drop(columns=['best_of',
                             'draw_size',
                             'loser_entry',
                             'loser_hand',
                             'loser_ht',
                             'loser_id',
                             'loser_ioc',
                             'loser_name',
                             'loser_rank',
                             'loser_rank_points',
                             'loser_seed',
                             'match_num',
                             'minutes',
                             'round',
                             'score',
                             'surface',
                             'tourney_date',
                             'tourney_id',
                             'tourney_level',
                             'tourney_name',
                             'winner_entry',
                              'winner_hand',
                              'winner_ht',
                              'winner_id',
                              'winner_ioc',
                              'winner_name',
                              'winner_rank',
                              'winner_rank_points',
                              'winner_seed'
], inplace=True)
tennis_stats_df.head()

,winner_age,loser_age,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,25.7,26.6,7.0,1.0,56.0,29.0,22.0,17.0,9.0,1.0,1.0,2.0,4.0,54.0,29.0,18.0,11.0,9.0,2.0,5.0
1,27.7,22.8,6.0,0.0,56.0,30.0,23.0,15.0,9.0,1.0,2.0,1.0,7.0,64.0,32.0,19.0,11.0,8.0,9.0,13.0
2,21.7,23.0,12.0,0.0,51.0,28.0,22.0,9.0,9.0,4.0,7.0,3.0,2.0,60.0,38.0,18.0,7.0,9.0,5.0,12.0
3,22.7,28.2,6.0,1.0,63.0,30.0,20.0,19.0,10.0,3.0,5.0,3.0,2.0,56.0,37.0,21.0,10.0,11.0,1.0,6.0
4,21.6,25.3,9.0,6.0,80.0,27.0,22.0,23.0,13.0,3.0,8.0,5.0,5.0,99.0,57.0,33.0,20.0,13.0,12.0,17.0

In [7]:
# Make a dopy of the tennis_stats dataframe
winners_df = tennis_stats_df.copy()

In [8]:
# Create winners dataframe 
winners_df.drop(columns=['loser_age',
                         'l_1stIn',
                         'l_1stWon', 
                         'l_2ndWon',
                         'l_SvGms',
                         'l_ace',
                         'l_bpFaced',
                         'l_bpSaved',
                         'l_df',
                         'l_svpt'], inplace=True)
winners_df.head()

,winner_age,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced
0,25.7,7.0,1.0,56.0,29.0,22.0,17.0,9.0,1.0,1.0
1,27.7,6.0,0.0,56.0,30.0,23.0,15.0,9.0,1.0,2.0
2,21.7,12.0,0.0,51.0,28.0,22.0,9.0,9.0,4.0,7.0
3,22.7,6.0,1.0,63.0,30.0,20.0,19.0,10.0,3.0,5.0
4,21.6,9.0,6.0,80.0,27.0,22.0,23.0,13.0,3.0,8.0

In [9]:
# Add winner column to winners_df with a value of 1
winners_df['winner'] = 1
winners_df.head()

,winner_age,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,winner
0,25.7,7.0,1.0,56.0,29.0,22.0,17.0,9.0,1.0,1.0,1
1,27.7,6.0,0.0,56.0,30.0,23.0,15.0,9.0,1.0,2.0,1
2,21.7,12.0,0.0,51.0,28.0,22.0,9.0,9.0,4.0,7.0,1
3,22.7,6.0,1.0,63.0,30.0,20.0,19.0,10.0,3.0,5.0,1
4,21.6,9.0,6.0,80.0,27.0,22.0,23.0,13.0,3.0,8.0,1

In [10]:
# Rename columns in winners_df
winners_df.rename(columns={"winner_age":"age",
                           "w_ace":"ace",
                           "w_df":"df",
                           "w_svpt":"svpt",
                           "w_1stIn":"1stIn",
                           "w_1stWon":"1stWon",
                           "w_2ndWon":"2ndWon",
                           "w_SvGms":"svGms",
                           "w_bpFaced":"bpFaced",
                           "w_bpSaved":"bpSaved"}, inplace=True)
winners_df.head()

,age,ace,df,svpt,1stIn,1stWon,2ndWon,svGms,bpSaved,bpFaced,winner
0,25.7,7.0,1.0,56.0,29.0,22.0,17.0,9.0,1.0,1.0,1
1,27.7,6.0,0.0,56.0,30.0,23.0,15.0,9.0,1.0,2.0,1
2,21.7,12.0,0.0,51.0,28.0,22.0,9.0,9.0,4.0,7.0,1
3,22.7,6.0,1.0,63.0,30.0,20.0,19.0,10.0,3.0,5.0,1
4,21.6,9.0,6.0,80.0,27.0,22.0,23.0,13.0,3.0,8.0,1

In [11]:
# Make a dopy of the tennis_stats dataframe
losers_df = tennis_stats_df.copy()

In [12]:
# Create losers dataframe
losers_df.drop(columns=['winner_age',
                         'w_1stIn',
                         'w_1stWon', 
                         'w_2ndWon',
                         'w_SvGms',
                         'w_ace',
                         'w_bpFaced',
                         'w_bpSaved',
                         'w_df',
                         'w_svpt'], inplace=True)
losers_df.head()

,loser_age,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,26.6,2.0,4.0,54.0,29.0,18.0,11.0,9.0,2.0,5.0
1,22.8,1.0,7.0,64.0,32.0,19.0,11.0,8.0,9.0,13.0
2,23.0,3.0,2.0,60.0,38.0,18.0,7.0,9.0,5.0,12.0
3,28.2,3.0,2.0,56.0,37.0,21.0,10.0,11.0,1.0,6.0
4,25.3,5.0,5.0,99.0,57.0,33.0,20.0,13.0,12.0,17.0

In [13]:
# Add loser column to winners_df with a value of 0
losers_df['winner'] = 0
losers_df.head()

,loser_age,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner
0,26.6,2.0,4.0,54.0,29.0,18.0,11.0,9.0,2.0,5.0,0
1,22.8,1.0,7.0,64.0,32.0,19.0,11.0,8.0,9.0,13.0,0
2,23.0,3.0,2.0,60.0,38.0,18.0,7.0,9.0,5.0,12.0,0
3,28.2,3.0,2.0,56.0,37.0,21.0,10.0,11.0,1.0,6.0,0
4,25.3,5.0,5.0,99.0,57.0,33.0,20.0,13.0,12.0,17.0,0

In [14]:
# Rename columns in losers_df
losers_df.rename(columns={"loser_age":"age",
                           "l_ace":"ace",
                           "l_df":"df",
                           "l_svpt":"svpt",
                           "l_1stIn":"1stIn",
                           "l_1stWon":"1stWon",
                           "l_2ndWon":"2ndWon",
                           "l_SvGms":"svGms",
                           "l_bpFaced":"bpFaced",
                           "l_bpSaved":"bpSaved"}, inplace=True)
losers_df.head()

,age,ace,df,svpt,1stIn,1stWon,2ndWon,svGms,bpSaved,bpFaced,winner
0,26.6,2.0,4.0,54.0,29.0,18.0,11.0,9.0,2.0,5.0,0
1,22.8,1.0,7.0,64.0,32.0,19.0,11.0,8.0,9.0,13.0,0
2,23.0,3.0,2.0,60.0,38.0,18.0,7.0,9.0,5.0,12.0,0
3,28.2,3.0,2.0,56.0,37.0,21.0,10.0,11.0,1.0,6.0,0
4,25.3,5.0,5.0,99.0,57.0,33.0,20.0,13.0,12.0,17.0,0

In [17]:
# Concatenate two (winners and losers) dataframes together
match_stats_df = pd.concat([winners_df, losers_df])
match_stats_df.head()

,age,ace,df,svpt,1stIn,1stWon,2ndWon,svGms,bpSaved,bpFaced,winner
0,25.7,7.0,1.0,56.0,29.0,22.0,17.0,9.0,1.0,1.0,1
1,27.7,6.0,0.0,56.0,30.0,23.0,15.0,9.0,1.0,2.0,1
2,21.7,12.0,0.0,51.0,28.0,22.0,9.0,9.0,4.0,7.0,1
3,22.7,6.0,1.0,63.0,30.0,20.0,19.0,10.0,3.0,5.0,1
4,21.6,9.0,6.0,80.0,27.0,22.0,23.0,13.0,3.0,8.0,1

In [18]:
len(match_stats_df)

20606