In [1]:
# Import dependencies
import pandas as pd
# For data base creation
from sqlalchemy import create_engine
from config import db_password
import os
import glob

## Initial Clean up of sourced data
* We want to combine the winners and looser columns into one player column and add an extra column to distinguish wether that specific player won the match or not.
    * First we need to separate the loosers from the winners and drop their titles so that they are same
    * Next we need to add a column called 'result' and place values for each player in the form of 1 and 0 to represent wether they won or not.
    * Now combine them back together.
* Now we want to add a column that holds the value of the year the match was played.
    * We will use the title of the specific csv file to collect that information
* Finally we will create a final df with sampled data from each year for our data base.

In [2]:
# Define directory path for files to keep from retyping every time
file_dir = 'Data/Resources/Match_Stats/'

In [3]:
# assign path
path, dirs, files = next(os.walk("Data/Resources/Match_Stats/"))
file_count = len(files)
# create empty list
dataframes_list = []
 
# append datasets to the list
for i in range(file_count):
    temp_df = pd.read_csv("Data/Resources/Match_Stats/"+files[i])
    dataframes_list.append(temp_df)

tennis_stats_df = pd.concat(dataframes_list)
len(tennis_stats_df)

75136

In [4]:
# Display list of column names sorted
sorted(tennis_stats_df.columns.tolist())

['best_of',
 'draw_size',
 'l_1stIn',
 'l_1stWon',
 'l_2ndWon',
 'l_SvGms',
 'l_ace',
 'l_bpFaced',
 'l_bpSaved',
 'l_df',
 'l_svpt',
 'loser_age',
 'loser_entry',
 'loser_hand',
 'loser_ht',
 'loser_id',
 'loser_ioc',
 'loser_name',
 'loser_rank',
 'loser_rank_points',
 'loser_seed',
 'match_num',
 'minutes',
 'round',
 'score',
 'surface',
 'tourney_date',
 'tourney_id',
 'tourney_level',
 'tourney_name',
 'w_1stIn',
 'w_1stWon',
 'w_2ndWon',
 'w_SvGms',
 'w_ace',
 'w_bpFaced',
 'w_bpSaved',
 'w_df',
 'w_svpt',
 'winner_age',
 'winner_entry',
 'winner_hand',
 'winner_ht',
 'winner_id',
 'winner_ioc',
 'winner_name',
 'winner_rank',
 'winner_rank_points',
 'winner_seed']

In [5]:
# Remove unnecessary columns
tennis_stats_df.drop(columns=['best_of',
                             'draw_size',
                             'loser_entry',
                             'loser_hand',
                             'loser_ht',
                             'loser_ioc',
                             'loser_name',
                             'loser_rank',
                             'loser_rank_points',
                             'loser_seed',
                             'match_num',
                             'minutes',
                             'tourney_level',
                             'winner_entry',
                              'winner_hand',
                              'winner_ht',
                              'winner_ioc',
                              'winner_name',
                              'winner_rank',
                              'winner_rank_points',
                              'winner_seed',
                              'tourney_id'
], inplace=True)
tennis_stats_df.head()

,tourney_name,surface,tourney_date,winner_id,winner_age,loser_id,loser_age,score,round,w_ace,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,Brisbane,Hard,20181231,105453,29.0,106421,22.8,6-4 3-6 6-2,F,3.0,...,6.0,8.0,6.0,100.0,54.0,34.0,20.0,14.0,10.0,15.0
1,Brisbane,Hard,20181231,106421,22.8,104542,33.7,7-6(6) 6-2,SF,10.0,...,1.0,17.0,2.0,77.0,52.0,36.0,7.0,10.0,10.0,13.0
2,Brisbane,Hard,20181231,105453,29.0,104871,31.8,6-2 6-2,SF,2.0,...,2.0,10.0,3.0,46.0,27.0,15.0,6.0,8.0,1.0,5.0
3,Brisbane,Hard,20181231,104542,33.7,200282,19.8,6-4 7-6(2),QF,12.0,...,5.0,1.0,2.0,81.0,60.0,38.0,9.0,11.0,4.0,6.0
4,Brisbane,Hard,20181231,106421,22.8,105683,28.0,6-7(2) 6-3 6-4,QF,12.0,...,8.0,29.0,5.0,94.0,56.0,46.0,19.0,15.0,2.0,4.0

In [6]:
# Make a dopy of the tennis_stats dataframe
winners_df = tennis_stats_df.copy()

In [7]:
# Create winners dataframe 
winners_df.drop(columns=['loser_age',
                         'l_1stIn',
                         'l_1stWon', 
                         'l_2ndWon',
                         'l_SvGms',
                         'l_ace',
                         'l_bpFaced',
                         'l_bpSaved',
                         'l_df',
                         'l_svpt'], inplace=True)
winners_df.head()

,tourney_name,surface,tourney_date,winner_id,winner_age,loser_id,score,round,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced
0,Brisbane,Hard,20181231,105453,29.0,106421,6-4 3-6 6-2,F,3.0,3.0,77.0,44.0,31.0,17.0,13.0,3.0,6.0
1,Brisbane,Hard,20181231,106421,22.8,104542,7-6(6) 6-2,SF,10.0,1.0,52.0,33.0,28.0,14.0,10.0,0.0,1.0
2,Brisbane,Hard,20181231,105453,29.0,104871,6-2 6-2,SF,2.0,2.0,47.0,33.0,26.0,9.0,8.0,2.0,2.0
3,Brisbane,Hard,20181231,104542,33.7,200282,6-4 7-6(2),QF,12.0,2.0,68.0,43.0,34.0,15.0,11.0,4.0,5.0
4,Brisbane,Hard,20181231,106421,22.8,105683,6-7(2) 6-3 6-4,QF,12.0,3.0,105.0,68.0,48.0,25.0,16.0,8.0,8.0

In [8]:
# Add winner column to winners_df with a value of 1
winners_df['result'] = 1
winners_df.head()

,tourney_name,surface,tourney_date,winner_id,winner_age,loser_id,score,round,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,result
0,Brisbane,Hard,20181231,105453,29.0,106421,6-4 3-6 6-2,F,3.0,3.0,77.0,44.0,31.0,17.0,13.0,3.0,6.0,1
1,Brisbane,Hard,20181231,106421,22.8,104542,7-6(6) 6-2,SF,10.0,1.0,52.0,33.0,28.0,14.0,10.0,0.0,1.0,1
2,Brisbane,Hard,20181231,105453,29.0,104871,6-2 6-2,SF,2.0,2.0,47.0,33.0,26.0,9.0,8.0,2.0,2.0,1
3,Brisbane,Hard,20181231,104542,33.7,200282,6-4 7-6(2),QF,12.0,2.0,68.0,43.0,34.0,15.0,11.0,4.0,5.0,1
4,Brisbane,Hard,20181231,106421,22.8,105683,6-7(2) 6-3 6-4,QF,12.0,3.0,105.0,68.0,48.0,25.0,16.0,8.0,8.0,1

In [9]:
# Rename columns in winners_df
winners_df.rename(columns={"winner_age":"age",
                           "w_ace":"ace",
                           "w_df":"df",
                           "w_svpt":"svpt",
                           "w_1stIn":"1stIn",
                           "w_1stWon":"1stWon",
                           "w_2ndWon":"2ndWon",
                           "w_SvGms":"svGms",
                           "w_bpFaced":"bpFaced",
                           "w_bpSaved":"bpSaved",
                           "loser_id":"opponent_id",
                           "winner_id":"player_id"}, inplace=True)
winners_df.head()

,tourney_name,surface,tourney_date,player_id,age,opponent_id,score,round,ace,df,svpt,1stIn,1stWon,2ndWon,svGms,bpSaved,bpFaced,result
0,Brisbane,Hard,20181231,105453,29.0,106421,6-4 3-6 6-2,F,3.0,3.0,77.0,44.0,31.0,17.0,13.0,3.0,6.0,1
1,Brisbane,Hard,20181231,106421,22.8,104542,7-6(6) 6-2,SF,10.0,1.0,52.0,33.0,28.0,14.0,10.0,0.0,1.0,1
2,Brisbane,Hard,20181231,105453,29.0,104871,6-2 6-2,SF,2.0,2.0,47.0,33.0,26.0,9.0,8.0,2.0,2.0,1
3,Brisbane,Hard,20181231,104542,33.7,200282,6-4 7-6(2),QF,12.0,2.0,68.0,43.0,34.0,15.0,11.0,4.0,5.0,1
4,Brisbane,Hard,20181231,106421,22.8,105683,6-7(2) 6-3 6-4,QF,12.0,3.0,105.0,68.0,48.0,25.0,16.0,8.0,8.0,1

In [10]:
# Make a dopy of the tennis_stats dataframe
losers_df = tennis_stats_df.copy()

In [11]:
# Create losers dataframe
losers_df.drop(columns=['winner_age',
                         'w_1stIn',
                         'w_1stWon', 
                         'w_2ndWon',
                         'w_SvGms',
                         'w_ace',
                         'w_bpFaced',
                         'w_bpSaved',
                         'w_df',
                         'w_svpt'], inplace=True)
losers_df.head()

,tourney_name,surface,tourney_date,winner_id,loser_id,loser_age,score,round,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,Brisbane,Hard,20181231,105453,106421,22.8,6-4 3-6 6-2,F,8.0,6.0,100.0,54.0,34.0,20.0,14.0,10.0,15.0
1,Brisbane,Hard,20181231,106421,104542,33.7,7-6(6) 6-2,SF,17.0,2.0,77.0,52.0,36.0,7.0,10.0,10.0,13.0
2,Brisbane,Hard,20181231,105453,104871,31.8,6-2 6-2,SF,10.0,3.0,46.0,27.0,15.0,6.0,8.0,1.0,5.0
3,Brisbane,Hard,20181231,104542,200282,19.8,6-4 7-6(2),QF,1.0,2.0,81.0,60.0,38.0,9.0,11.0,4.0,6.0
4,Brisbane,Hard,20181231,106421,105683,28.0,6-7(2) 6-3 6-4,QF,29.0,5.0,94.0,56.0,46.0,19.0,15.0,2.0,4.0

In [12]:
# Add loser column to winners_df with a value of 0
losers_df['result'] = 0
losers_df.head()

,tourney_name,surface,tourney_date,winner_id,loser_id,loser_age,score,round,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,result
0,Brisbane,Hard,20181231,105453,106421,22.8,6-4 3-6 6-2,F,8.0,6.0,100.0,54.0,34.0,20.0,14.0,10.0,15.0,0
1,Brisbane,Hard,20181231,106421,104542,33.7,7-6(6) 6-2,SF,17.0,2.0,77.0,52.0,36.0,7.0,10.0,10.0,13.0,0
2,Brisbane,Hard,20181231,105453,104871,31.8,6-2 6-2,SF,10.0,3.0,46.0,27.0,15.0,6.0,8.0,1.0,5.0,0
3,Brisbane,Hard,20181231,104542,200282,19.8,6-4 7-6(2),QF,1.0,2.0,81.0,60.0,38.0,9.0,11.0,4.0,6.0,0
4,Brisbane,Hard,20181231,106421,105683,28.0,6-7(2) 6-3 6-4,QF,29.0,5.0,94.0,56.0,46.0,19.0,15.0,2.0,4.0,0

In [13]:
# Rename columns in losers_df
losers_df.rename(columns={"loser_age":"age",
                           "l_ace":"ace",
                           "l_df":"df",
                           "l_svpt":"svpt",
                           "l_1stIn":"1stIn",
                           "l_1stWon":"1stWon",
                           "l_2ndWon":"2ndWon",
                           "l_SvGms":"svGms",
                           "l_bpFaced":"bpFaced",
                           "l_bpSaved":"bpSaved",
                           "winner_id":"opponent_id",
                           "loser_id":"player_id"}, inplace=True)
losers_df.head()

,tourney_name,surface,tourney_date,opponent_id,player_id,age,score,round,ace,df,svpt,1stIn,1stWon,2ndWon,svGms,bpSaved,bpFaced,result
0,Brisbane,Hard,20181231,105453,106421,22.8,6-4 3-6 6-2,F,8.0,6.0,100.0,54.0,34.0,20.0,14.0,10.0,15.0,0
1,Brisbane,Hard,20181231,106421,104542,33.7,7-6(6) 6-2,SF,17.0,2.0,77.0,52.0,36.0,7.0,10.0,10.0,13.0,0
2,Brisbane,Hard,20181231,105453,104871,31.8,6-2 6-2,SF,10.0,3.0,46.0,27.0,15.0,6.0,8.0,1.0,5.0,0
3,Brisbane,Hard,20181231,104542,200282,19.8,6-4 7-6(2),QF,1.0,2.0,81.0,60.0,38.0,9.0,11.0,4.0,6.0,0
4,Brisbane,Hard,20181231,106421,105683,28.0,6-7(2) 6-3 6-4,QF,29.0,5.0,94.0,56.0,46.0,19.0,15.0,2.0,4.0,0

In [14]:
# Concatenate two (winners and losers) dataframes together
match_stats_df = pd.concat([winners_df, losers_df])
match_stats_df = match_stats_df.dropna()
match_stats_df = match_stats_df.reset_index(drop=True)
match_stats_df

,tourney_name,surface,tourney_date,player_id,age,opponent_id,score,round,ace,df,svpt,1stIn,1stWon,2ndWon,svGms,bpSaved,bpFaced,result
0,Brisbane,Hard,20181231,105453,29.0,106421,6-4 3-6 6-2,F,3.0,3.0,77.0,44.0,31.0,17.0,13.0,3.0,6.0,1
1,Brisbane,Hard,20181231,106421,22.8,104542,7-6(6) 6-2,SF,10.0,1.0,52.0,33.0,28.0,14.0,10.0,0.0,1.0,1
2,Brisbane,Hard,20181231,105453,29.0,104871,6-2 6-2,SF,2.0,2.0,47.0,33.0,26.0,9.0,8.0,2.0,2.0,1
3,Brisbane,Hard,20181231,104542,33.7,200282,6-4 7-6(2),QF,12.0,2.0,68.0,43.0,34.0,15.0,11.0,4.0,5.0,1
4,Brisbane,Hard,20181231,106421,22.8,105683,6-7(2) 6-3 6-4,QF,12.0,3.0,105.0,68.0,48.0,25.0,16.0,8.0,8.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136228,Tour Finals,Hard,20141109,103970,32.6,105453,4-6 6-4 6-1,RR,2.0,3.0,88.0,48.0,30.0,20.0,14.0,4.0,9.0,0
136229,Tour Finals,Hard,20141109,105683,23.8,103819,6-1 7-6(0),RR,10.0,2.0,60.0,28.0,22.0,15.0,9.0,4.0,6.0,0
136230,Tour Finals,Hard,20141109,105683,23.8,104918,6-3 7-5,RR,4.0,2.0,62.0,33.0,23.0,14.0,10.0,2.0,5.0,0
136231,Tour Finals,Hard,20141109,104527,29.6,103819,4-6 7-5 7-6(6),SF,10.0,4.0,123.0,47.0,38.0,36.0,17.0,6.0,9.0,0
136232,Tour Finals,Hard,20141109,105453,24.8,104925,6-1 3-6 6-0,SF,3.0,6.0,67.0,38.0,29.0,5.0,11.0,3.0,9.0,0

In [15]:
len(match_stats_df)

136233

In [16]:
match_stats_df['1stIn(%)'] = round(100 * (match_stats_df['1stIn'] / match_stats_df['svpt']))
match_stats_df['1stWon(%)'] = round(100 * (match_stats_df['1stWon'] / match_stats_df['1stIn']))
match_stats_df['2ndWon(%)'] = round(100 * (match_stats_df['2ndWon'] / (match_stats_df['svpt'] - (match_stats_df['1stIn'] + match_stats_df['df']))))
match_stats_df

,tourney_name,surface,tourney_date,player_id,age,opponent_id,score,round,ace,df,...,1stIn,1stWon,2ndWon,svGms,bpSaved,bpFaced,result,1stIn(%),1stWon(%),2ndWon(%)
0,Brisbane,Hard,20181231,105453,29.0,106421,6-4 3-6 6-2,F,3.0,3.0,...,44.0,31.0,17.0,13.0,3.0,6.0,1,57.0,70.0,57.0
1,Brisbane,Hard,20181231,106421,22.8,104542,7-6(6) 6-2,SF,10.0,1.0,...,33.0,28.0,14.0,10.0,0.0,1.0,1,63.0,85.0,78.0
2,Brisbane,Hard,20181231,105453,29.0,104871,6-2 6-2,SF,2.0,2.0,...,33.0,26.0,9.0,8.0,2.0,2.0,1,70.0,79.0,75.0
3,Brisbane,Hard,20181231,104542,33.7,200282,6-4 7-6(2),QF,12.0,2.0,...,43.0,34.0,15.0,11.0,4.0,5.0,1,63.0,79.0,65.0
4,Brisbane,Hard,20181231,106421,22.8,105683,6-7(2) 6-3 6-4,QF,12.0,3.0,...,68.0,48.0,25.0,16.0,8.0,8.0,1,65.0,71.0,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136228,Tour Finals,Hard,20141109,103970,32.6,105453,4-6 6-4 6-1,RR,2.0,3.0,...,48.0,30.0,20.0,14.0,4.0,9.0,0,55.0,62.0,54.0
136229,Tour Finals,Hard,20141109,105683,23.8,103819,6-1 7-6(0),RR,10.0,2.0,...,28.0,22.0,15.0,9.0,4.0,6.0,0,47.0,79.0,50.0
136230,Tour Finals,Hard,20141109,105683,23.8,104918,6-3 7-5,RR,4.0,2.0,...,33.0,23.0,14.0,10.0,2.0,5.0,0,53.0,70.0,52.0
136231,Tour Finals,Hard,20141109,104527,29.6,103819,4-6 7-5 7-6(6),SF,10.0,4.0,...,47.0,38.0,36.0,17.0,6.0,9.0,0,38.0,81.0,50.0
136232,Tour Finals,Hard,20141109,105453,24.8,104925,6-1 3-6 6-0,SF,3.0,6.0,...,38.0,29.0,5.0,11.0,3.0,9.0,0,57.0,76.0,22.0

## Creating the Data Base

In [17]:
 # creating the Tennis Database
db_string = f'postgresql://postgres:{db_password}@127.0.0.1:5432/tennis_data'
engine = create_engine(db_string)
match_stats_df.to_sql(name='match_stats', con=engine, if_exists='replace')

In [21]:
ML_data = match_stats_df.sample(n = 60000)
ML_data.drop(columns=['tourney_name',
                      'surface',
                      'tourney_date',
                      'player_id',
                      'score',
                      'round',
                      '1stIn',
                      '1stWon',
                      '2ndWon'
], inplace=True)
ML_data = ML_data.reset_index(drop=True)
ML_data

,age,opponent_id,ace,df,svpt,svGms,bpSaved,bpFaced,result,1stIn(%),1stWon(%),2ndWon(%)
0,26.4,102839,7.0,7.0,100.0,15.0,8.0,11.0,1,67.0,78.0,42.0
1,33.7,105902,3.0,2.0,65.0,10.0,1.0,5.0,0,69.0,62.0,44.0
2,30.2,104545,4.0,3.0,85.0,15.0,2.0,3.0,0,67.0,77.0,64.0
3,24.1,102780,4.0,2.0,46.0,8.0,2.0,2.0,1,72.0,79.0,64.0
4,28.6,102839,10.0,6.0,127.0,18.0,5.0,7.0,0,66.0,79.0,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...
59995,22.1,106071,22.0,1.0,83.0,14.0,5.0,5.0,1,54.0,80.0,76.0
59996,24.8,101962,5.0,4.0,72.0,10.0,4.0,6.0,0,46.0,73.0,54.0
59997,20.4,103970,1.0,1.0,65.0,10.0,1.0,2.0,1,78.0,65.0,69.0
59998,26.4,105777,2.0,8.0,91.0,14.0,12.0,20.0,0,62.0,59.0,37.0
59999,31.6,106043,7.0,4.0,146.0,20.0,15.0,18.0,1,68.0,63.0,67.0

In [19]:
# Creating table for training data
ML_data.to_sql(name='random_match_stats', con=engine, if_exists='replace')