In [1]:
# Import dependencies
import pandas as pd
# For data base creation
from sqlalchemy import create_engine
from config import db_password
import os
import glob

## Initial Clean up of sourced data
* We want to combine the winners and looser columns into one player column and add an extra column to distinguish wether that specific player won the match or not.
    * First we need to separate the loosers from the winners and drop their titles so that they are same
    * Next we need to add a column called 'result' and place values for each player in the form of 1 and 0 to represent wether they won or not.
    * Now combine them back together.
* Finally we will create a final df with sampled data from each year for our data base.

In [2]:
# Define directory path for files to keep from retyping every time
file_dir = 'Data/Resources/Match_Stats/'

In [3]:
# assign path
path, dirs, files = next(os.walk("Data/Resources/Match_Stats/"))
file_count = len(files)
# create empty list
dataframes_list = []
 
# append datasets to the list
for i in range(file_count):
    temp_df = pd.read_csv("Data/Resources/Match_Stats/"+files[i])
    dataframes_list.append(temp_df)

tennis_stats_df = pd.concat(dataframes_list)
len(tennis_stats_df)

75136

In [4]:
tennis_stats_df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2019-M020,Brisbane,Hard,32,A,20181231,300,105453,2.0,NaN,...,54.0,34.0,20.0,14.0,10.0,15.0,9.0,3590.0,16.0,1977.0
1,2019-M020,Brisbane,Hard,32,A,20181231,299,106421,4.0,NaN,...,52.0,36.0,7.0,10.0,10.0,13.0,16.0,1977.0,239.0,200.0
2,2019-M020,Brisbane,Hard,32,A,20181231,298,105453,2.0,NaN,...,27.0,15.0,6.0,8.0,1.0,5.0,9.0,3590.0,40.0,1050.0
3,2019-M020,Brisbane,Hard,32,A,20181231,297,104542,NaN,PR,...,60.0,38.0,9.0,11.0,4.0,6.0,239.0,200.0,31.0,1298.0
4,2019-M020,Brisbane,Hard,32,A,20181231,296,106421,4.0,NaN,...,56.0,46.0,19.0,15.0,2.0,4.0,16.0,1977.0,18.0,1855.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2896,2014-605,Tour Finals,Hard,8,F,20141109,514,104925,1.0,NaN,...,38.0,29.0,5.0,11.0,3.0,9.0,1.0,10010.0,5.0,4625.0
2897,2014-605,Tour Finals,Hard,8,F,20141109,515,104925,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10010.0,2.0,8700.0
2898,2014-D015,Davis Cup WG F: FRA vs SUI,Clay,4,D,20141121,1,104527,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,5295.0,12.0,2740.0
2899,2014-D015,Davis Cup WG F: FRA vs SUI,Clay,4,D,20141121,2,104792,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19.0,1825.0,2.0,9700.0
2900,2014-D015,Davis Cup WG F: FRA vs SUI,Clay,4,D,20141121,4,103819,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,9700.0,26.0,1350.0

In [5]:
# Display list of column names sorted
sorted(tennis_stats_df.columns.tolist())

['best_of',
 'draw_size',
 'l_1stIn',
 'l_1stWon',
 'l_2ndWon',
 'l_SvGms',
 'l_ace',
 'l_bpFaced',
 'l_bpSaved',
 'l_df',
 'l_svpt',
 'loser_age',
 'loser_entry',
 'loser_hand',
 'loser_ht',
 'loser_id',
 'loser_ioc',
 'loser_name',
 'loser_rank',
 'loser_rank_points',
 'loser_seed',
 'match_num',
 'minutes',
 'round',
 'score',
 'surface',
 'tourney_date',
 'tourney_id',
 'tourney_level',
 'tourney_name',
 'w_1stIn',
 'w_1stWon',
 'w_2ndWon',
 'w_SvGms',
 'w_ace',
 'w_bpFaced',
 'w_bpSaved',
 'w_df',
 'w_svpt',
 'winner_age',
 'winner_entry',
 'winner_hand',
 'winner_ht',
 'winner_id',
 'winner_ioc',
 'winner_name',
 'winner_rank',
 'winner_rank_points',
 'winner_seed']

In [6]:
# Remove unnecessary columns
tennis_stats_df.drop(columns=['best_of',
                             'draw_size',
                             'loser_entry',
                             'loser_hand',
                             'loser_ht',
                             'loser_ioc',
                             'loser_name',
                             'loser_rank',
                             'loser_rank_points',
                             'loser_seed',
                             'match_num',
                             'minutes',
                             'tourney_level',
                             'winner_entry',
                              'winner_hand',
                              'winner_ht',
                              'winner_ioc',
                              'winner_name',
                              'winner_rank',
                              'winner_rank_points',
                              'winner_seed',
                              'tourney_id'
], inplace=True)
tennis_stats_df.head()

,tourney_name,surface,tourney_date,winner_id,winner_age,loser_id,loser_age,score,round,w_ace,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,Brisbane,Hard,20181231,105453,29.0,106421,22.8,6-4 3-6 6-2,F,3.0,...,6.0,8.0,6.0,100.0,54.0,34.0,20.0,14.0,10.0,15.0
1,Brisbane,Hard,20181231,106421,22.8,104542,33.7,7-6(6) 6-2,SF,10.0,...,1.0,17.0,2.0,77.0,52.0,36.0,7.0,10.0,10.0,13.0
2,Brisbane,Hard,20181231,105453,29.0,104871,31.8,6-2 6-2,SF,2.0,...,2.0,10.0,3.0,46.0,27.0,15.0,6.0,8.0,1.0,5.0
3,Brisbane,Hard,20181231,104542,33.7,200282,19.8,6-4 7-6(2),QF,12.0,...,5.0,1.0,2.0,81.0,60.0,38.0,9.0,11.0,4.0,6.0
4,Brisbane,Hard,20181231,106421,22.8,105683,28.0,6-7(2) 6-3 6-4,QF,12.0,...,8.0,29.0,5.0,94.0,56.0,46.0,19.0,15.0,2.0,4.0

In [7]:
# Make a dopy of the tennis_stats dataframe
winners_df = tennis_stats_df.copy()

In [8]:
# Create winners dataframe 
winners_df.drop(columns=['loser_age',
                         'l_1stIn',
                         'l_1stWon', 
                         'l_2ndWon',
                         'l_SvGms',
                         'l_ace',
                         'l_bpFaced',
                         'l_bpSaved',
                         'l_df',
                         'l_svpt'], inplace=True)
winners_df.head()

,tourney_name,surface,tourney_date,winner_id,winner_age,loser_id,score,round,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced
0,Brisbane,Hard,20181231,105453,29.0,106421,6-4 3-6 6-2,F,3.0,3.0,77.0,44.0,31.0,17.0,13.0,3.0,6.0
1,Brisbane,Hard,20181231,106421,22.8,104542,7-6(6) 6-2,SF,10.0,1.0,52.0,33.0,28.0,14.0,10.0,0.0,1.0
2,Brisbane,Hard,20181231,105453,29.0,104871,6-2 6-2,SF,2.0,2.0,47.0,33.0,26.0,9.0,8.0,2.0,2.0
3,Brisbane,Hard,20181231,104542,33.7,200282,6-4 7-6(2),QF,12.0,2.0,68.0,43.0,34.0,15.0,11.0,4.0,5.0
4,Brisbane,Hard,20181231,106421,22.8,105683,6-7(2) 6-3 6-4,QF,12.0,3.0,105.0,68.0,48.0,25.0,16.0,8.0,8.0

In [9]:
# Add winner column to winners_df with a value of 1
winners_df['result'] = 1
winners_df.head()

,tourney_name,surface,tourney_date,winner_id,winner_age,loser_id,score,round,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,result
0,Brisbane,Hard,20181231,105453,29.0,106421,6-4 3-6 6-2,F,3.0,3.0,77.0,44.0,31.0,17.0,13.0,3.0,6.0,1
1,Brisbane,Hard,20181231,106421,22.8,104542,7-6(6) 6-2,SF,10.0,1.0,52.0,33.0,28.0,14.0,10.0,0.0,1.0,1
2,Brisbane,Hard,20181231,105453,29.0,104871,6-2 6-2,SF,2.0,2.0,47.0,33.0,26.0,9.0,8.0,2.0,2.0,1
3,Brisbane,Hard,20181231,104542,33.7,200282,6-4 7-6(2),QF,12.0,2.0,68.0,43.0,34.0,15.0,11.0,4.0,5.0,1
4,Brisbane,Hard,20181231,106421,22.8,105683,6-7(2) 6-3 6-4,QF,12.0,3.0,105.0,68.0,48.0,25.0,16.0,8.0,8.0,1

In [10]:
# Rename columns in winners_df
winners_df.rename(columns={"winner_age":"age",
                           "w_ace":"ace",
                           "w_df":"df",
                           "w_svpt":"svpt",
                           "w_1stIn":"1stIn",
                           "w_1stWon":"1stWon",
                           "w_2ndWon":"2ndWon",
                           "w_SvGms":"svGms",
                           "w_bpFaced":"bpFaced",
                           "w_bpSaved":"bpSaved",
                           "loser_id":"opponent_id",
                           "winner_id":"player_id"}, inplace=True)
winners_df.head()

,tourney_name,surface,tourney_date,player_id,age,opponent_id,score,round,ace,df,svpt,1stIn,1stWon,2ndWon,svGms,bpSaved,bpFaced,result
0,Brisbane,Hard,20181231,105453,29.0,106421,6-4 3-6 6-2,F,3.0,3.0,77.0,44.0,31.0,17.0,13.0,3.0,6.0,1
1,Brisbane,Hard,20181231,106421,22.8,104542,7-6(6) 6-2,SF,10.0,1.0,52.0,33.0,28.0,14.0,10.0,0.0,1.0,1
2,Brisbane,Hard,20181231,105453,29.0,104871,6-2 6-2,SF,2.0,2.0,47.0,33.0,26.0,9.0,8.0,2.0,2.0,1
3,Brisbane,Hard,20181231,104542,33.7,200282,6-4 7-6(2),QF,12.0,2.0,68.0,43.0,34.0,15.0,11.0,4.0,5.0,1
4,Brisbane,Hard,20181231,106421,22.8,105683,6-7(2) 6-3 6-4,QF,12.0,3.0,105.0,68.0,48.0,25.0,16.0,8.0,8.0,1

In [11]:
# Make a dopy of the tennis_stats dataframe
losers_df = tennis_stats_df.copy()

In [12]:
# Create losers dataframe
losers_df.drop(columns=['winner_age',
                         'w_1stIn',
                         'w_1stWon', 
                         'w_2ndWon',
                         'w_SvGms',
                         'w_ace',
                         'w_bpFaced',
                         'w_bpSaved',
                         'w_df',
                         'w_svpt'], inplace=True)
losers_df.head()

,tourney_name,surface,tourney_date,winner_id,loser_id,loser_age,score,round,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,Brisbane,Hard,20181231,105453,106421,22.8,6-4 3-6 6-2,F,8.0,6.0,100.0,54.0,34.0,20.0,14.0,10.0,15.0
1,Brisbane,Hard,20181231,106421,104542,33.7,7-6(6) 6-2,SF,17.0,2.0,77.0,52.0,36.0,7.0,10.0,10.0,13.0
2,Brisbane,Hard,20181231,105453,104871,31.8,6-2 6-2,SF,10.0,3.0,46.0,27.0,15.0,6.0,8.0,1.0,5.0
3,Brisbane,Hard,20181231,104542,200282,19.8,6-4 7-6(2),QF,1.0,2.0,81.0,60.0,38.0,9.0,11.0,4.0,6.0
4,Brisbane,Hard,20181231,106421,105683,28.0,6-7(2) 6-3 6-4,QF,29.0,5.0,94.0,56.0,46.0,19.0,15.0,2.0,4.0

In [13]:
# Add loser column to winners_df with a value of 0
losers_df['result'] = 0
losers_df.head()

,tourney_name,surface,tourney_date,winner_id,loser_id,loser_age,score,round,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,result
0,Brisbane,Hard,20181231,105453,106421,22.8,6-4 3-6 6-2,F,8.0,6.0,100.0,54.0,34.0,20.0,14.0,10.0,15.0,0
1,Brisbane,Hard,20181231,106421,104542,33.7,7-6(6) 6-2,SF,17.0,2.0,77.0,52.0,36.0,7.0,10.0,10.0,13.0,0
2,Brisbane,Hard,20181231,105453,104871,31.8,6-2 6-2,SF,10.0,3.0,46.0,27.0,15.0,6.0,8.0,1.0,5.0,0
3,Brisbane,Hard,20181231,104542,200282,19.8,6-4 7-6(2),QF,1.0,2.0,81.0,60.0,38.0,9.0,11.0,4.0,6.0,0
4,Brisbane,Hard,20181231,106421,105683,28.0,6-7(2) 6-3 6-4,QF,29.0,5.0,94.0,56.0,46.0,19.0,15.0,2.0,4.0,0

In [14]:
# Rename columns in losers_df
losers_df.rename(columns={"loser_age":"age",
                           "l_ace":"ace",
                           "l_df":"df",
                           "l_svpt":"svpt",
                           "l_1stIn":"1stIn",
                           "l_1stWon":"1stWon",
                           "l_2ndWon":"2ndWon",
                           "l_SvGms":"svGms",
                           "l_bpFaced":"bpFaced",
                           "l_bpSaved":"bpSaved",
                           "winner_id":"opponent_id",
                           "loser_id":"player_id"}, inplace=True)
losers_df.head()

,tourney_name,surface,tourney_date,opponent_id,player_id,age,score,round,ace,df,svpt,1stIn,1stWon,2ndWon,svGms,bpSaved,bpFaced,result
0,Brisbane,Hard,20181231,105453,106421,22.8,6-4 3-6 6-2,F,8.0,6.0,100.0,54.0,34.0,20.0,14.0,10.0,15.0,0
1,Brisbane,Hard,20181231,106421,104542,33.7,7-6(6) 6-2,SF,17.0,2.0,77.0,52.0,36.0,7.0,10.0,10.0,13.0,0
2,Brisbane,Hard,20181231,105453,104871,31.8,6-2 6-2,SF,10.0,3.0,46.0,27.0,15.0,6.0,8.0,1.0,5.0,0
3,Brisbane,Hard,20181231,104542,200282,19.8,6-4 7-6(2),QF,1.0,2.0,81.0,60.0,38.0,9.0,11.0,4.0,6.0,0
4,Brisbane,Hard,20181231,106421,105683,28.0,6-7(2) 6-3 6-4,QF,29.0,5.0,94.0,56.0,46.0,19.0,15.0,2.0,4.0,0

In [15]:
# Concatenate two (winners and losers) dataframes together
match_stats_df = pd.concat([winners_df, losers_df])
# droping all the NaN in our data
match_stats_df = match_stats_df.dropna()
# Reseting the index
match_stats_df = match_stats_df.reset_index(drop=True)
match_stats_df

,tourney_name,surface,tourney_date,player_id,age,opponent_id,score,round,ace,df,svpt,1stIn,1stWon,2ndWon,svGms,bpSaved,bpFaced,result
0,Brisbane,Hard,20181231,105453,29.0,106421,6-4 3-6 6-2,F,3.0,3.0,77.0,44.0,31.0,17.0,13.0,3.0,6.0,1
1,Brisbane,Hard,20181231,106421,22.8,104542,7-6(6) 6-2,SF,10.0,1.0,52.0,33.0,28.0,14.0,10.0,0.0,1.0,1
2,Brisbane,Hard,20181231,105453,29.0,104871,6-2 6-2,SF,2.0,2.0,47.0,33.0,26.0,9.0,8.0,2.0,2.0,1
3,Brisbane,Hard,20181231,104542,33.7,200282,6-4 7-6(2),QF,12.0,2.0,68.0,43.0,34.0,15.0,11.0,4.0,5.0,1
4,Brisbane,Hard,20181231,106421,22.8,105683,6-7(2) 6-3 6-4,QF,12.0,3.0,105.0,68.0,48.0,25.0,16.0,8.0,8.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136228,Tour Finals,Hard,20141109,103970,32.6,105453,4-6 6-4 6-1,RR,2.0,3.0,88.0,48.0,30.0,20.0,14.0,4.0,9.0,0
136229,Tour Finals,Hard,20141109,105683,23.8,103819,6-1 7-6(0),RR,10.0,2.0,60.0,28.0,22.0,15.0,9.0,4.0,6.0,0
136230,Tour Finals,Hard,20141109,105683,23.8,104918,6-3 7-5,RR,4.0,2.0,62.0,33.0,23.0,14.0,10.0,2.0,5.0,0
136231,Tour Finals,Hard,20141109,104527,29.6,103819,4-6 7-5 7-6(6),SF,10.0,4.0,123.0,47.0,38.0,36.0,17.0,6.0,9.0,0
136232,Tour Finals,Hard,20141109,105453,24.8,104925,6-1 3-6 6-0,SF,3.0,6.0,67.0,38.0,29.0,5.0,11.0,3.0,9.0,0

In [16]:
# number of recorded matchs in our df
len(match_stats_df)

136233

In [17]:
# Creating 3 new columns in our main df to refect the 1st and 2nd serve data as percentages
match_stats_df['1stIn(%)'] = round(100 * (match_stats_df['1stIn'] / match_stats_df['svpt']))
match_stats_df['1stWon(%)'] = round(100 * (match_stats_df['1stWon'] / match_stats_df['1stIn']))
match_stats_df['2ndWon(%)'] = round(100 * (match_stats_df['2ndWon'] / (match_stats_df['svpt'] - (match_stats_df['1stIn'] + match_stats_df['df']))))
match_stats_df = match_stats_df.dropna()
len(match_stats_df)

136192

# Creating the Data Base

In [18]:
 # creating the Tennis Database
db_string = f'postgresql://postgres:{db_password}@127.0.0.1:5432/tennis_data'
engine = create_engine(db_string)
match_stats_df.to_sql(name='match_stats', con=engine, if_exists='replace')

## Testing different ML models
We are creating two different test datasets for two different kinds of ML models:
   * Logistic Regression
   * Binary Logistic Regression

### Logistic Regression

In [35]:
# pulling 60000 random matches from the main df (match_stats_df)
ML_data = match_stats_df.sample(n = 100000)
# dropping the unnecessary columns for the ML model
ML_data.drop(columns=['tourney_name',
                      'surface',
                      'tourney_date',
                      'player_id',
                      'score',
                      'round',
                      '1stIn',
                      '1stWon',
                      '2ndWon',
                      'opponent_id'
], inplace=True)
# Reseting the index with the new random data
ML_data = ML_data.reset_index(drop=True)
ML_data

,age,ace,df,svpt,svGms,bpSaved,bpFaced,result,1stIn(%),1stWon(%),2ndWon(%)
0,26.4,8.0,2.0,79.0,10.0,10.0,13.0,0,57.0,67.0,44.0
1,29.0,1.0,0.0,67.0,12.0,1.0,4.0,1,76.0,63.0,56.0
2,26.9,1.0,2.0,84.0,14.0,2.0,8.0,0,56.0,57.0,51.0
3,35.9,3.0,6.0,89.0,15.0,4.0,6.0,0,54.0,85.0,54.0
4,29.2,2.0,2.0,49.0,8.0,1.0,5.0,0,63.0,58.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...
99995,20.8,4.0,5.0,48.0,8.0,1.0,1.0,1,35.0,94.0,69.0
99996,29.7,10.0,4.0,65.0,11.0,4.0,4.0,1,58.0,84.0,78.0
99997,35.4,1.0,8.0,227.0,31.0,10.0,19.0,1,64.0,61.0,55.0
99998,28.4,7.0,7.0,91.0,13.0,1.0,5.0,0,56.0,73.0,45.0
99999,24.6,5.0,0.0,75.0,12.0,1.0,4.0,1,71.0,70.0,41.0

### Binary Logistic Regression

In [39]:
# Testing data for binary Logistic Regression
# pulling 100000 random matches from the main df (match_stats_df)
ML_data_BLR = match_stats_df.sample(n = 100000)
# dropping the unnecessary columns for the ML model
ML_data_BLR.drop(columns=['tourney_name',
                      'player_id',
                      'score',
                      '1stIn',
                      '1stWon',
                      '2ndWon',
                      'opponent_id',
                      'tourney_date',
                      'round'
], inplace=True)
# Reseting the index with the new random data
ML_data_BLR = ML_data_BLR.reset_index(drop=True)
ML_data_BLR

,surface,age,ace,df,svpt,svGms,bpSaved,bpFaced,result,1stIn(%),1stWon(%),2ndWon(%)
0,Clay,28.4,5.0,3.0,65.0,11.0,1.0,2.0,1,78.0,82.0,64.0
1,Hard,22.1,17.0,4.0,99.0,15.0,2.0,5.0,0,61.0,72.0,43.0
2,Clay,25.8,0.0,3.0,89.0,15.0,0.0,4.0,1,75.0,66.0,63.0
3,Clay,26.8,6.0,6.0,70.0,11.0,4.0,6.0,0,53.0,81.0,56.0
4,Hard,21.9,5.0,0.0,57.0,10.0,1.0,2.0,0,63.0,78.0,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Clay,30.6,1.0,3.0,118.0,16.0,7.0,10.0,0,64.0,68.0,51.0
99996,Hard,23.8,13.0,1.0,61.0,10.0,4.0,5.0,1,67.0,73.0,68.0
99997,Hard,22.4,6.0,7.0,98.0,14.0,9.0,11.0,1,64.0,71.0,68.0
99998,Clay,20.0,2.0,3.0,63.0,10.0,4.0,9.0,0,44.0,64.0,41.0
99999,Clay,21.3,8.0,1.0,72.0,11.0,0.0,1.0,0,57.0,78.0,60.0

In [33]:
# Creating table for training data
ML_data.to_sql(name='random_match_stats', con=engine, if_exists='replace')

In [40]:
# Creating a table in the tennis database for ML_data_BLR
ML_data_BLR.to_sql(name='random_match_stats_BLR', con=engine, if_exists='replace')