In [1]:
# Import our dependencies
import pandas as pd
from path import Path

from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

## Model Starts

In [2]:
file_dir = 'Data/DB/'
data = pd.read_csv(f'{file_dir}match_stats_random.csv', low_memory=False)
data

,index,age,ace,df,bpSaved,bpFaced,result,1stIn(%),1stWon(%),2ndWon(%)
0,0,37.7,9,2,5,8,1,57,63,62
1,1,23.3,3,6,4,11,0,42,61,43
2,2,29.5,3,3,1,3,1,50,76,62
3,3,31.1,9,6,5,8,1,57,75,57
4,4,28.8,4,1,1,4,0,58,75,32
...,...,...,...,...,...,...,...,...,...,...
99995,99995,27.7,14,2,3,4,1,60,80,61
99996,99996,24.3,4,1,3,6,0,58,64,44
99997,99997,25.5,6,4,4,7,0,62,69,54
99998,99998,18.2,3,1,0,1,1,59,79,73
99999,99999,24.4,13,1,8,11,0,77,75,54

In [3]:
y = data["result"]
X = data.drop(columns="result")

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(75000, 9)

In [5]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=2000,
                                random_state=1)

In [6]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=2000, random_state=1)

In [7]:
y_pred = classifier.predict(X_test)
results_data = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results_data.head(20)

    Prediction  Actual
0            1       0
1            0       0
2            0       0
3            1       0
4            0       0
5            1       1
6            0       0
7            1       1
8            1       1
9            0       0
10           1       1
11           1       1
12           0       0
13           1       1
14           1       1
15           1       1
16           0       0
17           1       0
18           1       1
19           1       1

In [8]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.766

In [9]:

# Decision Tree Model

In [10]:
# Define features set
X = data.copy()
X = X.drop("result", axis=1)
X.head()

   index   age  ace  df  bpSaved  bpFaced  1stIn(%)  1stWon(%)  2ndWon(%)
0      0  37.7    9   2        5        8        57         63         62
1      1  23.3    3   6        4       11        42         61         43
2      2  29.5    3   3        1        3        50         76         62
3      3  31.1    9   6        5        8        57         75         57
4      4  28.8    4   1        1        4        58         75         32

In [11]:
# Define target vector
y = data["result"].values.reshape(-1, 1)
y[:5]

array([[1],
       [0],
       [1],
       [1],
       [0]])

In [12]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(75000, 9)
(25000, 9)
(75000, 1)
(25000, 1)

In [14]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, random_state=78, train_size=0.80)

In [15]:
print(X_train2.shape)
print(X_test2.shape)
print(y_train2.shape)
print(y_test2.shape)

(80000, 9)
(20000, 9)
(80000, 1)
(20000, 1)

In [16]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [17]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [18]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
## Fitting the Decision Tree Model
# Creating the decision tree classifier instance
model = tree.DecisionTreeClassifier()

In [20]:
# Fitting the model
model = model.fit(X_train_scaled, y_train)

In [21]:
# Making predictions using the testing data
predictions = model.predict(X_test_scaled)

In [22]:
# Model Evaluation
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [23]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         8818         3612
Actual 1         3562         9008

Accuracy Score : 0.71304
Classification Report
              precision    recall  f1-score   support

           0       0.71      0.71      0.71     12430
           1       0.71      0.72      0.72     12570

    accuracy                           0.71     25000
   macro avg       0.71      0.71      0.71     25000
weighted avg       0.71      0.71      0.71     25000